.logoNombre{
    width: 30em;
    height: 20em;
}

.cardDiv{
    display: flex;
    flex-direction: row;
    margin-left: 45%;
}


.sala1{
    width: 20em;
    display: flex;
    position: absolute;
    left: 10%;
    top: 40
    0%;
}