.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(111, 199, 250); */
    /* background: #f46b45;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #eea849, #f46b45); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgb(118, 194, 181);
}

.logoImg{
    display:flex;
    width: 4em;
    height:4em;
    margin-left: 2em;
}

.headerTitle{
    color: black;
    position: absolute;
    margin-left: 50%;
    font-weight: bold;
}

.navButtons{
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 2em;
}

.active {
    background-color: rgb(0, 46, 83);
}

.header a {
    all: unset;
    color: black;
    padding: 1em;
    transition: all 0.5s;
}

.header a:hover {
    color: black;
    cursor: pointer;
    background-color:  rgb(42, 158, 139);
}