.divLogin{
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    /* min-height: 40vh;  */
    align-items: center;
    border:3px solid gray;
}

.loginInput{
    /* all: unset; */
    padding: 1em;
    width: fit-content;
    border-radius: 0.5em;
    /* background-color: rgb(111, 199, 250); */
    display:flex;
    align-content: space-around;
    margin-bottom: 3em;
}

.register{
    display: flex;
    cursor: pointer;
    align-content: space-around;
    margin-bottom: 2em;
}

.register:hover{
        color:blue;
}

.loginButton{
    all: unset;
    cursor: pointer;
    border-radius: 0.7em;
    padding: 1em;
    background-color: rgb(111, 199, 250);
}